.detailsCard {
    margin: 5%;
    height: 100%;
    width: 100%;

    .detailsContent {
        margin: 5%;
        padding-left: 10%;
        height: 100%;
        width: 100%;
    }

    .detailsDescription {
        height: 70%;
    }
}